.center {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
}

.navigation1 {
  background: white;
  height: 4rem;
  /* position: fixed; */
  width: 100%;
}

#navigation2 {
  background: #459c98;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes.png");
  font-family: Montserrat;
  font-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%), 0 8px 16px rgb(0 0 0 / 10%);
  z-index: 100;
  height: 3rem;
}

.navLinks {
  margin: 3rem;
}

.navLinks:hover {
  border-bottom: solid 3px white;
}

.zoom:hover {
  transform: scale(1.1);
}

.eventCard {
  margin-bottom: 2rem;
  width: 372px;
  justify-content: space-around;
  display: flex;
  font-family: Montserrat;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 10%);
}

.eventCard:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%), 0 8px 16px rgb(0 0 0 / 20%);
}

.cardImg {
  width: 371px;
  height: 185px;
  /* object-fit: contain; */
}

.date {
  width: 7rem;
  font-weight: bold;
  color: #423f3f;
  /* flex-direction: column; */
}

.month {
  width: 7rem;
  font-weight: bold;
  color: red;
  /* flex-direction: column; */
}

.info {
  flex-direction: column;
}

.cardBody {
  display: flex;
  background-color: #f1f3f4;
}

.starButton {
  margin-top: 165px !important ;
  margin-left: 325px !important;
  position: absolute !important;
  background-color: white !important;
  height: 33px !important;
  width: 35px !important;
  box-shadow: none !important;
  border: 1px solid #dbdbd9 !important;
}

.starButton:hover {
  /* box-shadow: 0 2px 4px rgb(0 0 0 / 30%), 0 8px 16px rgb(0 0 0 / 20%) !important; */
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
  /* color: rgba(0, 0, 0, 0.87) !important; */
}

/* EVENTS */
.header-event-container{
  border-bottom: 1px solid #e8eaed;
  width: 100%;
  margin-bottom: 4rem;
}

.header-event{
  margin: 68px auto;
  max-width: 1224px;
  padding: 0 4%;
  text-align: center;
  letter-spacing: 0.5px;
}

.title-event{
  font-family: "Montserrat";
  color: #555;
  font-size: 50px;
  font-weight: 500;
  margin: 0 auto;
}

.bg-image{
  /* background: url("https://images.unsplash.com/photo-1628882860274-0b9a99911691?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80") center center/cover no-repeat; */
  /* background-color: #b6f2f0; */
}
/* EVENTS */

.main-container {
  background: url("https://images.unsplash.com/photo-1477281765962-ef34e8bb0967?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80")
    center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.main-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
  font-family: Montserrat;
}

.main-container > p {
  color: #fff;
  font-size: 32px;
  margin-top: 8px;
  font-family: Montserrat;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.main-btns {
  margin-top: 22px;
}

.main-btns .btns {
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  width: 150px;
  padding: 12px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  border: 0.5px solid #fff;
  background-color: transparent;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}

.main-btns .btns span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}

.main-btns .btns:hover span {
  width: 100%;
}

.main-btns .btns:hover {
  color: black;
}

.second-container {
  background: linear-gradient(rgba(0, 0, 0, 0.1), #009688),
    url("https://t4.ftcdn.net/jpg/04/51/91/93/360_F_451919346_4kyczUtDtgMLUX8qyYTGg822UQ0D5AXh.jpg")
      center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.second-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -400px;
}

.second-container > p {
  color: #fff;
  font-size: 32px;
  margin-top: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hp-main-container {
  /* linear-gradient(rgba(0,0,0,0.1), #009688), */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.bgImage1 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), #009688),
    url("https://images.unsplash.com/photo-1523580494863-6f3031224c94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
      center center/cover no-repeat;
}

.bgImage2 {
  background: linear-gradient(rgba(0, 0, 0, 0.1), #009688),
    url("https://plus.unsplash.com/premium_photo-1661771825670-1720428a80ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80")
      center center/cover no-repeat;
}

.hp-main-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
  font-family: Montserrat;
}

.hp-main-container > p {
  color: #fff;
  font-size: 22px;
  margin-top: 35px;
  font-family: Montserrat;
  font-weight: 400;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.hp-main-btns {
  margin-top: 4rem;
}

.hp-main-btns .btns {
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  width: 250px;
  padding: 12px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  border: 0.5px solid #fff;
  background-color: transparent;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
  border-radius: 2rem;
}

.hp-main-btns .btns span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
  border-radius: 2rem;
}

.hp-main-btns .btns:hover span {
  width: 100%;
  border-radius: 2rem;
}

.hp-main-btns .btns:hover {
  color: black;
  border-radius: 2rem;
}

.second-container {
  background: linear-gradient(rgba(0, 0, 0, 0.1), #009688),
    url("https://t4.ftcdn.net/jpg/04/51/91/93/360_F_451919346_4kyczUtDtgMLUX8qyYTGg822UQ0D5AXh.jpg")
      center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.second-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -400px;
}

.second-container > p {
  color: #fff;
  font-size: 32px;
  margin-top: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
*/ ::-webkit-scrollbar-track {
  background: #f1f1f1;
  padding: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}